<div class="description">
  <div class="media">
    <div class="media-left">
	    <a href="#">
	       <img class="media-object img-circle" src="http://lorempixel.com/image_output/people-q-c-50-50-3.jpg">
	    </a>
    </div>
    <div class="media-body">
      <h2 class="media-heading">Here is a title for the thing</h2>
      <div class="time hidden-xs">
        Feb 14, 2016 (5:14PM)
      </div>
      <p>Lorem ipsum dolor sit amet, ea his odio ludus propriae, in postea aperiri dolores mei. In duis theophrastus mei. Saperet platonem an eos. Admodum theophrastus pro ad, usu iisque laoreet argumentum ne, qui congue instructior et. Mea et iusto munere copiosae.</p>
			<p>Ei sea wisi utroque, per eligendi laboramus at. Et utamur maluisset molestiae vix, integre legimus reprimique cu sit. Mei timeam interpretaris te. Aeque gubergren id qui, audire nonumes perpetua ut sea. Sit melius repudiare ea, cu brute labores mel, te sed mundi dolorum.</p>
			<p>Vel et diceret oportere, vix cu vidit erant malorum, usu atomorum erroribus ea. Eum ex primis euismod, homero inimicus ullamcorper ei vel. Quidam nonumes senserit ad ius, ut esse inani est. Magna euripidis eum te. Tempor atomorum comprehensam eu mea, ei sea facilis contentiones, has no novum libris omittantur. Quo no officiis mnesarchum, gubergren constituam disputando vix ea.</p> 
    </div>   
  </div>
</div>
<br>
<div class="description">
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">Comment</h4>
      <div class="time hidden-xs">
        Feb 14, 2016 (5:14PM)
      </div>
      <p>Lorem ipsum dolor sit amet, ea his odio ludus propriae, in postea aperiri dolores mei. In duis theophrastus mei. Saperet platonem an eos. Admodum theophrastus pro ad, usu iisque laoreet argumentum ne, qui congue instructior et. Mea et iusto munere copiosae.</p>
			<p>Ei sea wisi utroque, per eligendi laboramus at. Et utamur maluisset molestiae vix, integre legimus reprimique cu sit. Mei timeam interpretaris te. Aeque gubergren id qui, audire nonumes perpetua ut sea. Sit melius repudiare ea, cu brute labores mel, te sed mundi dolorum.</p>
			<p>Vel et diceret oportere, vix cu vidit erant malorum, usu atomorum erroribus ea. Eum ex primis euismod, homero inimicus ullamcorper ei vel. Quidam nonumes senserit ad ius, ut esse inani est. Magna euripidis eum te. Tempor atomorum comprehensam eu mea, ei sea facilis contentiones, has no novum libris omittantur. Quo no officiis mnesarchum, gubergren constituam disputando vix ea.</p> 
    </div> 
    <div class="media-right">
	    <a href="#">
	      <img class="media-object img-circle" src="http://lorempixel.com/image_output/people-q-c-50-50-3.jpg">
	    </a>
    </div>   
  </div>
</div>
